* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FCF6FC;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    border: 1px solid black;
}

.wrapper {
    max-width: 1000px;
    width: 100%;
    height: 100vh;
    
    border: 2px solid blue;
}

/* .header{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header-img{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;

    border: 2px solid rgb(5, 153, 42);
}
/* satte en tillfällig storlek, tror vi måste ändra bilden till bakgrund iaf*/
.header img {
    width: 300px;
    height: 300px;
}

/* .header-right{
    display:flex;
    flex-direction: column;
    
    width:300px;
    height: 300px;
    min-width: 200px;
}

.box-top{
    background-color: #9E6D52;
}

.box-bottom{
  
   
    background-color: #0A846E;
}
.box-top, .box-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    
    
}
.box-top img, .box-bottom img{
    width:30%;
    height: auto;
    
} */

.header {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
}

.box-bottom, .box-top, .header-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-img {
    background-image: url('https://images.unsplash.com/photo-1615671524701-9c3dde8fdaa0?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    grid-column: 1/2;
    grid-row: 1/3;
}
.box-top {
    background-color: #9E6D52;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.box-bottom {
    background-color: #0A846E;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}