@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FCF6FC;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    border: 1px solid black;
}

.wrapper {
    max-width: 1000px;
    width: 100%;
    height: 100vh;

    border: 2px solid blue;
}

.header {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;

    .box-bottom, .box-top, .header-img{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .header-img {
        background-image: url('https://images.unsplash.com/photo-1615671524701-9c3dde8fdaa0?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .box-top {
        background-color: #9E6D52;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        
    }
    
    .box-bottom {
        background-color: #0A846E;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .box-top img{
        height: 80%;
    }
    .box-bottom img{
        height: 80%;
    }
}

/* NAVIGATION MENY */
.navigation-menu {
    display: flex;
    list-style-type: none;
    font-family: 'Maven Pro', sans-serif;
    color: #055647;
    box-shadow: 0 1px 3px #055647;
    height: 3rem;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
}

li {
    flex-grow: 1;
    text-align: center;
    transition: background-color 0.3s ease;
    line-height: 3rem;
}

li:hover {
    background-color: #b0aeae;
}

/* ***FOOTER*** */


.footer-img {
    color: white;
    background-image: url('https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    font-weight: 500;
    line-height: 75.2px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: relative;
    font-family: 'Maven Pro';
}

.footer-left h2 {
    margin: 0;
    flex-grow: 1;
}

.contact {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    margin-top: auto;
}

.phone, .mail {
    display: flex;
    align-items: center;
    gap: 8px;
}

.phone i, .mail i {
    font-size: 0.2em;
    color: #ffffff;
}

.phone p, .mail p {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.footer-right {
    align-self: center;
    justify-self: center;
}
