@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Sätter flexbox på body för att centrera wrappern */
body {
    background-color: #FCF6FC;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Wrapper runt allt innehåll */
.wrapper {
    max-width: 1000px;
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
}

/* ****** HEADER ****** */

.index-header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .box-bottom, .box-top, .header-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Placerar en bild som bakgrund i den första columnen */
    .header-img {
        background-image: url('https://images.unsplash.com/photo-1615671524701-9c3dde8fdaa0?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        grid-column: 1;
        grid-row: 1/3;
    }

    /* Ger korrekt bakgrundsfärg på den översta lådan och placering i andra kolumnen */
    .box-top {
        background-color: #9E6D52;
        grid-column: 2;
    }

    /* Ger korrekt bakgrundsfärg på den nedersta lådan och placering i andra kolumnen */
    .box-bottom {
        background-color: #0A846E;
        grid-column: 2;
    }
    /* Justerar storleken på bilden som ligger i html */
    .box-top img, .box-bottom img{
        height: 80%;
    }
}

/* Skapar hamburger meny för mobilversionen */
.hamburger-menu {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.hamburger-menu hr {
    width: 2.5rem;
    height: 6px;
    background-color: white;
    border: none;
    margin: 6.5px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

/* Gömmer hamburger menyn tills mobilstorlek */
.hamburger-menu {
    display: none;
}

/* ****** NAVIGATION MENY ****** */
.navigation {
    display: flex;
    font-family: 'Maven Pro', sans-serif;
    color: #055647;
    box-shadow: 0px 4px 4px 0px #03382F1C;
    height: 3.75rem;
    font-size: 1.25rem;
    font-weight: 600;
    justify-content: space-around;

    /* Stylar a i menyn med storlek och färg samt håller den klickbar */
    a {
        text-decoration: none;
        color: inherit;
        line-height: 3.75rem;
        text-align: center;
        width: 25%;
    }

    a:hover {
        background-color: #0f9e84;
        color: white;
    }

}

/* ****** MAIN ****** */

.main-h1{
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
    margin-top: 2rem;
    color: #0A846E;
    font-size: 3rem;
    text-align: center;
}

/* Wrapper runt cirkel o text */
.top-main-box, .bottom-main-box {
    margin: 2rem;
    width: auto;
    display: grid;
    gap:1rem;
    max-width: 95%;
}

.top-main-box {
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

/* Cirkel i main */
.circle-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-color: #0A846E;
    overflow: hidden;
}

/* Text ruta i main */
.top-main-text, .bottom-main-text {
    gap:1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

/* h2 text */
.top-main-text h2, .bottom-main-text h2 {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    align-self: flex-start;
}

/* p text */
.top-main-text p, .bottom-main-text p {
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif;
}

/* Gemensam styling för gröna knappar */
.så-tips-btn, .visa-fler-btn, .planterade-plantor-btn, .add-btn {
    font-family: "Open Sans", sans-serif;
    background-color: #0A846E;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 8px;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
}

/* Lägger till en hover effekt på knapparna */
.så-tips-btn:hover, .visa-fler-btn:hover, .planterade-plantor-btn:hover, .add-btn:hover {
    background-color: #065345;
}


/* Individuell styling för gröna knappar */

.så-tips-btn {
    align-self: flex-end;
}

.planterade-plantor-btn {
    align-self: flex-start;
}

/* Centrerar "Visa fler" */
.show-more {
    display: flex;
    justify-content: center;
}

/* Nikkis sjukt fräna streck */
main hr {
    border: none;
    border-top: 3px solid #055647;
    max-width: 33%;
    min-width: 18rem;
    margin: 91px auto 69px auto;
    height: 3px;
}

/* Grid för styling av "plantkorten" */

.grid-section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 2rem;
}

.grid-section h2 {
    grid-column: 2/4;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
/* Grid gemensam styling */
.grid-view-1,.grid-view-2,.grid-view-3,
.grid-view-4,.grid-view-5,.grid-view-6 {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 4px 4px 0px #00000040;
    max-height: 25rem;
}
/* Ta-bort knapp */
.ta-bort-btn{
    background-color: #B93857;
    color: white;
    padding: .1rem .4rem;
    border-radius: 9px;
    border: none;
    margin:.8rem .8rem ;
    cursor: pointer;
}

.ta-bort-btn:hover{
    background-color: #7e192f;
    color: white;

}

/* Våra planerade planteringar centrerad */
h2{
    font-family:'Lato', sans-serif;
    text-align: center;
}


/* Bakgrundsbilder */
.plant-1 {
background-image: url(https://images.unsplash.com/photo-1518568403628-df55701ade9e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.plant-2 {
    background-image: url(https://images.unsplash.com/photo-1596199050105-6d5d32222916?q=80&w=2639&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.plant-3 {
    background-image: url(https://images.unsplash.com/photo-1565698228480-eec300c9679b?q=80&w=2806&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.plant-4 {
    background-image: url(https://images.unsplash.com/photo-1687878269804-63e8b50e3ddc?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.plant-5 {
    background-image: url(https://images.unsplash.com/photo-1555447740-03e40562af94?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.plant-6 {
    background-image: url(https://images.unsplash.com/photo-1627989230968-d0b8e2d1a398?q=80&w=2962&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

/* Styling på korten */
.plant-1, .plant-2, .plant-3, .plant-4, .plant-5, .plant-6 {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* All text och knapp i korten för att ge dem korrekt position */
.text-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);


    h3 {
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        grid-column: 1/2;
        grid-row: 1;
        align-self: flex-end;
        margin:.8rem .8rem;
        margin-right: 0;
    }

    p {
        grid-column: 1/2;
        grid-row: 2;
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        margin:.8rem .8rem;
        margin-right: 0;
        align-self: center;
    }

    h4 {
        grid-column: 2;
        grid-row: 1;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        align-self: flex-end;
        margin:.8rem .8rem ;

    }

    .ta-bort-btn {
        grid-column: 2;
        font-family: 'Open Sans', sans-serif;
        padding: 0.4rem 1.4rem;
        justify-self: center;
        font-weight: 600;
        display: block;
        width: 7rem;
    }

    .trash {
        display: none;
        grid-column: 2;
        justify-self: flex-end;
        border: none;
        font-size: 1.3rem;
        background-color: #FFFFFF;
    }
}

/* Hover på soptunneikonen */
.trash:hover {
    cursor: pointer;
}

/* Styling på boxen under korten */
.bottom-main-box{
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

/* ***FOOTER*** */
.footer-img {
    width: 100%;
    color: white;
    background-image: url('https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30rem;
}
/* Vänster footer column, overlay styling */
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.79);
    padding: 20px;
    position: relative;
    font-family: 'Maven Pro';
}
/* Vänster footer column "h2" styling */
.footer-left h2 {
    margin: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: 500;
    line-height: 75.2px;
}
/* Vänster footer column "contact info" styling*/
.contact {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    margin-top: auto;
}
/* Vänster footer column, "nummer/mail" gap  */
.phone, .mail {
    display: flex;
    align-items: center;
    gap: 8px;
}
/* Vänster footer column "icon" styling*/
.phone i, .mail i {
    font-size: 1.5rem;
    color: #ffffff;
}
/* Vänster footer column, "p" styling*/
.phone p, .mail p {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}
/* Footer right centrering */
.footer-right {
    align-self: center;
    justify-self: center;
}
/* Footer "till toppen av sidan" länk styling*/
footer a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 24px;
    font-family: 'Open Sans';
}
/* Box-shadow under footer nav */
.footer-navigation {
    box-shadow: 0px 4px 4px 0px #00000040;
}


/**** Mina sidor styling ****/

/* Header styling */
.mina-sidor-logo {
    height: 23.5rem;
    background-image: url(https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Maven Pro', sans-serif;
}

.mina-sidor-logo h1 {
    font-size: 40px;
    font-weight: 500;
}

/* Wrapper för hela form sektionen */
.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0 2rem 6rem 2rem;
}
/* Wrapper för bättre placering av h2 */
.form-wrapper h2 {
    align-self: flex-start;
    margin: 2rem 0 1.25rem 0;
    font-size: 2rem;
    font-weight: 400 !important;
}
/* Input wrapper för placering*/
.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%
}
/* Form label/input wrapper */
.mina-sidor-input {
    display: flex;
    gap: 17px;
    width: 100%;
    margin-bottom: 2rem;
}
/* Form label/input wrapper styling */
.mina-sidor-input input {
    width: 100%;
    padding: 8px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;
}
/* Grid för korten */
.mina-sidor-planned-1, .mina-sidor-planned-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 4rem;
    padding: 0 1rem;
}
/* Styling för h2*/
.mina-sidor-main h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
}
/* Footer grid setup */
.footer-grid {
    display: grid;
    background-color: #9E6D52;
    grid-template-columns:repeat(4, 1fr);
    column-gap: 1rem;
    padding: 0 2rem;

    /* Footer img styling */
    .footer-image-1, .footer-image-2, .footer-image-3, .footer-image-4 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 1.5rem 0;
        height: 19rem;
        background-color: lightgray;
        opacity: 75%;
    }
    /* Bakgrundsbilder */
    .footer-image-1 {
        background-image: url(https://plus.unsplash.com/premium_photo-1678344170545-c3edef92a16e?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
    .footer-image-2 {
        background-image: url(https://images.unsplash.com/photo-1515150144380-bca9f1650ed9?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
    .footer-image-3 {
        background-image: url(https://images.unsplash.com/photo-1464226184884-fa280b87c399?q=80&w=2500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
    .footer-image-4 {
        background-image: url(https://plus.unsplash.com/premium_photo-1681398651047-78491e34f66a?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {

    /* Header grid setup mobile view*/
    .index-header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;

        .header-img{
            grid-column: 1 / 3;
            grid-row: 1;
        }

        .box-top{
            grid-column: 1;
            grid-row: 2;

            img {
                height: 70%;
            }

        }
            .box-bottom{
                grid-column: 2;
                grid-row: 2;

                img {
                    height: 70%;
                }
            }
        }

    /* Gör hamburger menyn synlig på båda sidorna */
    .hamburger-menu {
        display: block;
    }

    /* Gömmer menyn på båda sidorna*/
    .navigation {
        display: none;
    }

    /* Planned planthood h1 mobile view */
    .main-h1 {
        font-size: 2rem;
    }

    /* Ändrar rikting på top-boxen, bottom boxen och footern*/
    .top-main-box, .bottom-main-box, .footer-img {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .top-main-text h2, .bottom-main-text h2{
        align-self: center;
    }
    /* "Så-tips" knapp centrering */
    .så-tips-btn, .planterade-plantor-btn {
        align-self: center;
    }
    /* Grid layout för index / styling mobile view */
    .grid-section {
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        gap: 1rem;

        img {
            height: 70%;
        }

        h4 {
            font-size: 14px;
            margin: 12px 0;
        }

        p {
            font-size: 13px;
            font-weight: 700;
        }
        h3 {
            font-size: 18px;
            font-weight: 600;
        }
        /* Göm ta-bort knapp */
        .ta-bort-btn {
            display: none;
        }
        /* Visa trash knapp */
        .trash{
            display: block;
            padding: 0;
            padding-right: 20px;
        }
    }

    /* Grid max-height mobile view */
    .grid-view-1,.grid-view-2,.grid-view-3,
    .grid-view-4,.grid-view-5,.grid-view-6 {
        max-height: 20rem;
    }

    /* h2 top och bottom section */
    .top-main-text h2, .bottom-main-text h2 {
        font-size: 1.5rem;
    }
    /* p text top och bottom */
    .top-main-text, .bottom-main-text {
        margin-left: 0;
    }
    /* Styling knappar */
    .så-tips-btn, .visa-fler-btn, .planterade-plantor-btn {
        padding: 0.5rem 1.7rem;
        border-radius: 12px;
        margin: 1.5rem 0;
    }
    /* Botten av main gap */
    .bottom-main-box {
        row-gap: 3rem;
    }
    /* Footer grid section */
    .footer-img {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 40rem;

        .footer-right {
            grid-row: 1;
        }

        .footer-left {
            grid-row: 2;
        }
    }

    .mina-sidor-logo {
        height: 30rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    /* Form styling mobile view */
    .mina-sidor-input {
        flex-direction: column;
    }

    /* Grid min sidor styling mobile view */
    .mina-sidor-planned-1,.mina-sidor-planned-2 {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        min-width: 350px;
    }
    /* Gemensam styling grid 1 och 2 */
    .mina-sidor-planned-1, .mina-sidor-planned-2 {
        margin-bottom: 5rem;
            .grid-view-1 {
            height: 20rem;
            column-gap: 10px;

        /* Göm logo i mobile view */
            img {
                display: none;
                }

            h4 {
                font-size: 16px;
                margin: 12px 0;
                }

            p {
                font-size: 16px;
                font-weight: 300;
            }
            h3 {
                font-size: 24px;
                font-weight: 400;
            }
            /* Göm ta-bort knapp */
            .ta-bort-btn {
                display: none;

            }
            /* Visa trash knapp */
            .trash{
                display: block;
                padding: 0;
                padding-right: 20px;
            }
        }
    }
    /* Mina sidor h2 styling */
    .mina-sidor-main h2 {
        font-size: 1rem;
    }

    /* Wrappar runt hela formen */
    .form-wrapper {
        align-items: flex-start;
        margin-left: 1rem;

    }
    /* Wrapper runt h2 i form */
    .form-wrapper h2 {
        align-self: center;
        font-size: 1.5rem;
    }
    /* Add knapp styling */
    .add-btn{
        align-self: center ;
        padding: .6rem 1.5rem;
        border-radius: 9px;
        font-size: 1.2rem;
        margin:0;
    }

    /* Footer grid */
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1rem;
        /* Footer bilder gemensam styling */
        .footer-image-1, .footer-image-2, .footer-image-3, .footer-image-4 {
            height: 7.5rem;
        }
        .footer-image-1, .footer-image-2{
            margin-bottom:0 ;
        }
        .footer-image-3, .footer-image-4{
            margin-top: 1rem;
        }
    }
}